<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Release\netcoreapp3.1\TemperatureBot.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="BotConfig__Token" value="2047928536:AAGMOMJ5fDukWlGdurq7gbr-XKY2SZpzX0Y" />
          <environmentVariable name="BotConfig__Name" value="Температура" />
          <environmentVariable name="BotConfig__Thermometer" value="http://10.194.1.14" />
          <environmentVariable name="BotConfig__Webhook" value="https://862c-86-57-174-234.ngrok.io" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>